**/bin
**/docs
**/lib
**/target
**/output
**/input
**/metadata
**/additional_changes
**/log
*.idea
*.iml
*.DS_Store
*.classpath
*.metadata
*.project
*.settings
*.properties
**/results
!application.properties
dependencies.txt
dependency.txt
