@font-face {
    src: url('/fonts/open/OpenSans-Light.ttf');
}

@font-face {
     src: url('/fonts/open/OpenSans-Bold.ttf');
}

@font-face {
    src: url("/fonts/open/OpenSans-BoldItalic.ttf");
}

@font-face {
    src: url("/fonts/open/OpenSans-Italic.ttf");
}

@font-face {
    src: url("/fonts/fira/FiraMono-Regular.ttf");
}

@font-face {
    src: url("/fonts/fira/FiraMono-Bold.ttf");
}


/*    MISC        */
.header {
    -fx-background-color: rgb(151, 178, 215);
    -fx-border-width: 1;
    -fx-border-color: White;
}

.header-hover-box {
    -fx-border-radius: 3;
    -fx-border-width: 0 3 0 3;
    -fx-border-color: DarkGray;
    -fx-fill: rgba(51, 78, 115, 0.5);
}

.nav-button {
    -fx-text-fill: White;
    -fx-font-size: 12px;
    -fx-font-family: "Fira Mono Regular";
}

.nav-button:hover {
    -fx-font-size: 12px;
    -fx-font-family: "Fira Mono Bold";
}

.nav-button-selected {
    -fx-background-color: rgb(0, 56, 145);
}

.spinner-pane {
    -fx-background-color: rgba(55, 55, 55, 0.15);
}

.no-focus {
    -fx-focus-traversable: false;
}

.no-mouse {
    -fx-mouse-traversable: false;
}

.text-small-normal {
    -fx-font-size: 9px;
    -fx-font-family: "Open Sans Light";
}

.text-small-bold {
    -fx-font-size: 9px;
    -fx-font-family: "Open Sans Bold";
}

.text-small-italic {
    -fx-font-size: 9px;
    -fx-font-family: "Open Sans Italic";
}

.text-medium-normal {
    -fx-font-size: 12px;
    -fx-font-family: "Open Sans Light";
}

.text-medium-bold {
    -fx-font-size: 12px;
    -fx-font-family: "Open Sans Bold";
}

.text-medium-italic {
    -fx-font-size: 12px;
    -fx-font-family: "Open Sans Italic";
}

.text-large-normal {
    -fx-font-size: 16px;
    -fx-font-family: "Open Sans Light";
}

.text-large-bold {
    -fx-font-size: 16px;
    -fx-font-family: "Open Sans Bold";
}

.text-white {
    -fx-text-fill: White;
}

.text-gray {
    -fx-text-fill: DimGray;
}

.card, .draggable {
    -fx-background-radius: 4px;
    -fx-background-color: rgb(235, 235, 235);
    -fx-effect: dropshadow(gaussian, rgba(100, 100, 100, 0.25), 0, 1, 0, 1);
}

.underlined {
    -fx-border-color: SlateGray;
    -fx-border-insets: 0 -35 0 0;
    -fx-border-width: 0 0 1 0;
    -fx-effect: dropshadow(gaussian, rgba(120, 120, 120, 0.25), 10, 0.75, 0, 0);
}
/*    MISC        */

/*    BUTTONS     */
.button* {
    -fx-font-family: "Open Sans Light";
    -fx-padding: 0.7em 0.57em;
    -fx-text-fill: Black;
    -fx-background-radius: 2px;
}

.button-clear {
    -fx-background-color: Transparent;
}

.button-clear:hover {
    -fx-background-color: Silver;
}

.button-gray {
    -fx-background-color: LightGray;
}

.button-gray:hover {
    -fx-background-color: Silver;
    -fx-effect: dropshadow(gaussian, DimGray, 0, 1, 1, 1);
}

.button-blue {
    -fx-background-color: CornflowerBlue;
    -fx-text-fill: Azure;
}

.button-blue:hover {
    -fx-background-color: rgb(77, 102, 204);
    -fx-effect: dropshadow(gaussian, DodgerBlue, 0, 1, 1, 1);
}

.button-red {
    -fx-background-color: LightCoral;
}

.button-red:hover {
    -fx-background-color: Red;
}

.button-lock:hover {
    -fx-background-color: CornflowerBlue;
    -fx-background-insets: -3;
}

.button-locked {
    -fx-border-radius: 4px;
    -fx-border-width: 2px;
    -fx-border-insets: -3;
    -fx-border-color: rgb(55, 55, 110);
    -fx-background-color: CornflowerBlue;
    -fx-background-insets: -3;
}

.button-delete {
    -fx-background-color: Transparent;
}

.button-delete:hover {
    -fx-background-color: LightCoral;
    -fx-background-insets: -3;
}

.button-annotation {
    -fx-opacity: 0.25;
}

.button-annotation-selected {
    -fx-opacity: 0.5;
    -fx-border-color: Black;
    -fx-border-radius: 4px;
    -fx-border-insets: -2;
    -fx-border-width: 2;
}

.button-annotation:hover {
    -fx-opacity: 0.35;
    -fx-border-color: Orange;
    -fx-border-radius: 4px;
    -fx-border-insets: -3;
    -fx-border-width: 3;
}

.draggable {
    -fx-background-color: rgba(176,196,222, 0.2);
    -fx-background-radius: 5px;
}

.draggable-highlight {
    -fx-background-color: rgba(176,196,222, 0.75);
    -fx-background-radius: 5px;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.25), 10, 0.65, 0, 0);
}
/*  END BUTTONS   */


/*   TEXT         */
.file-list-metrics {
    -fx-text-fill: rgba(100, 200, 100, 1);
}

.feature-tree {
    -fx-font-family: "Fira Mono Bold";
    -fx-background-color: rgba(220, 220, 220, 1);
}

.tooltip {
    -fx-font-family: "Open Sans Bold Italic";
    -fx-font-size: 9;
}

.label-tooltip {
    -fx-opacity: 0.2;
    -fx-alignment: top-left;
}

.label-tooltip:hover {
    -fx-opacity: 0.8;
}

.text-header-one {
    -fx-font-family: "Open Sans Bold Italic";
    -fx-font-size: 24;
    -fx-text-fill: rgb(0, 56, 145);
}

.text-header-two {
    -fx-font-family: "Open Sans Bold Italic";
    -fx-font-size: 16;
    -fx-text-fill: CornflowerBlue;
}

.label-annotation-category {
    -fx-font-family: "Open Sans Italic";
    -fx-font-size: 10px;
    -fx-text-fill: DarkGray;
    -fx-text-alignment: Center;
    -fx-alignment: Top_Center;
}

.mono-text {
    -fx-font-family: "Fira Mono Regular";
    -fx-font-size: 9;
    -fx-text-alignment: LEFT;
    -fx-alignment: CENTER_LEFT;
    -fx-border-color: Gainsboro;
    -fx-border-width: 1 0 1 0;
    -fx-padding: 1 0 1 0;
}

.error-text {
    -fx-text-fill: Red;
}

.false-positives-count {
    -fx-text-fill: DarkOrchid;
    -fx-font-family: "Open Sans Italic";
    -fx-font-size: 10;
}

.false-negatives-count {
    -fx-text-fill: OrangeRed;
    -fx-font-family: "Open Sans Italic";
    -fx-font-size: 10;
}

.line-number {
    -fx-font-family: "Fira Mono Regular";
    -fx-font-size: 8;
    -fx-text-fill: SlateGray;
    -fx-text-alignment: RIGHT;
    -fx-alignment: CENTER_RIGHT;
    -fx-border-color: SlateGray;
    -fx-border-width: 0 1 0 0;
    -fx-padding: 2 5 2 0;
}

.table-view text {
    -fx-font-family: "Fira Mono Bold";
    -fx-font-size: 18px;
}

.table-cell {
    -fx-font-family: "Open Sans Light";
    -fx-font-size: 10px;
}

.column-right-align {
    -fx-alignment: CENTER-RIGHT;
}

.column-center-align {
    -fx-alignment: CENTER;
}

.column-left-align {
    -fx-alignment: CENTER-LEFT;
}

.scroll-pane > .viewport {
   -fx-background-color: Transparent;
}
/*    END TEXT    */